@charset "UTF-8";

:root {
    --cor1:#F0B2BD;
    --cor2:#A36873;
    --cor3:bisque;
    --cor4: #7A3D0B;
    --cor5: #63280E;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../imagens/cakbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

header > h1 {
    color: var(--cor3);
    padding: 60px;
    text-align: center;
}

body {
    background-color: var(--cor3);
}

section#products > h1 {
    text-align: center;
    color: var(--cor5);
    border-bottom: 1px solid var(--cor5);
    margin-bottom: 10px;
    margin-top: 40px;
}

section.cakes {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--cor1);
    padding-top: 5px;
    margin: 10px;
}


section.samplei > img {
width: 40vw;
margin-left: 5px;
padding-right: 5px;
border-right: 1px solid var(--cor5);
}

section.samplet {
    margin: auto;
}


section.samplet > h2 {
    color: var(--cor5);
    text-align: center;

}

section.samplet > p {
    color: var(--cor5);
    text-align: center;
}

section#simg1 {
    background-image: url(../imagens/cak1.jpg);
    width: 200px;
    height: 200px;
}

section#galery {
    display: grid;
    align-items: center;
    grid-template-columns: 40vw 40vw;
    gap: 10px 10px;
    justify-content: center;
    margin-bottom: 50px;
}

section.imgg > img {
    width: 40vw;
    height: 300px;
   }

footer#contact {
    background: url(../imagens/cakbg.jpg) bottom center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer#contact h3, p {
color: var(--cor4);
padding-left: 10px;
text-align: center;
}

footer#contact ul {
    margin-left: 30px;
}

footer#contact li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    list-style: none;
    text-align: center;
}

footer#contact a {
    font-size: 1em;
}

footer#contact a:hover {
    background-color: var(--cor1);
}

.fa {
    color: var(--cor3);
    background-color: var(--cor2);
    padding: 1em;
    width: 1em;
    border-radius: 10px;
    text-decoration: none;
    font-size: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
  
}


footer p {
    color: var(--cor3);
    text-align: center;
    font-size: 80%;
    padding: 5px;
}

.cont {
    width: 250px;
    margin: auto;
}


.cont p {
    background-color: var(--cor2);
    border-radius: 10px;
    margin-top: 5px;
}

.cont p:hover {
    background-color: var(--cor1);
    border-radius: 10px;
}

#daa
{
    background-color: var(--cor2);
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
}

#daa p:hover {
    background-color: var(--cor1);
    border-radius: 10px;
}

footer a {
    color: var(--cor3);
    text-decoration: none;
}